
<% include ./main/header %>
<% include ./main/navbar %>
<section class="main-block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="styled-heading">
                    <!-- <h2 class="title2">All you need in one</h2> -->
                    <h3>Browse Categories</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="find-place-img_wrap">
                    <div class="grid">
                        <figure class="effect-ruby">
                            <img src="p (31).jpg" class="img-fluid" alt="img13" onclick=" location.replace('products/kpop')" />
                            <figcaption>
                                <h5>KPOP </h5>
                                <p>385 Listings</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row find-img-align">
                    <div class="col-md-12">
                        <div class="find-place-img_wrap">
                            <div class="grid">
                                <figure class="effect-ruby">
                                    <img src="img (20).jpg" class="img-fluid" alt="img13"  onclick=" location.replace('products/drama')"/>
                                    <figcaption>
                                        <h5>DRAMA</h5>
                                        <p>210 Listings</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="find-place-img_wrap">
                            <div class="grid">
                                <figure class="effect-ruby">
                                    <img src="p (7).jpg" class="img-fluid" alt="img13"  onclick=" location.replace('products/show')"/>
                                    <figcaption>
                                        <h5>varity SHOW </h5>
                                        <p>114 Listings</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row find-img-align">
                    <div class="col-md-12">
                        <div class="find-place-img_wrap">
                            <div class="grid">
                                <figure class="effect-ruby">
                                    <img src="p (4).jpg" class="img-fluid" alt="img13"  onclick=" location.replace('products/news')"/>
                                    <figcaption>
                                        <h5>News </h5>
                                        <p>577 Listings</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="find-place-img_wrap">
                            <div class="grid">
                                <figure class="effect-ruby">
                                    <img src="img (14).jpg" class="img-fluid" alt="img13"  onclick=" location.replace('products/kpop')"/>
                                    <figcaption>
                                        <h5>songs </h5>
                                        <p>79 Listings</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END FIND PLACES -->
<!--============================= FEATURED PLACES =============================-->
<!-- <section class="main-block dark-bg" style=" margin-bottom:3%">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="styled-heading">
                    <h2 class="title2" style="margin-bottom: 40px" >Featured DRAMA</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                   
                        <img src="p2.jpg" class="img-fluid img" alt="#">
                        <span class="featured-rating-orange">6.5</span>
                        <div class="featured-title-box">
                            <h6>Burger & Lobster</h6>
                            <p>Restaurant </p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                           
                            <div class="bottom-icons">
                                <div class="closed-now">CLOSED NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                
                </div>
            </div>
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                   
                        <img src="p (36).jpg" class="img-fluid img" alt="#">
                        <span class="featured-rating-green">9.5</span>
                        <div class="featured-title-box">
                            <h6>Joe’s Shanghai</h6>
                            <p>Restaurant </p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                            
                            <div class="bottom-icons">
                                <div class="closed-now">CLOSED NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                  
                </div>
            </div>
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                   
                        <img src="img (38).jpg" class="img-fluid img" alt="#">
                        <span class="featured-rating">3.2</span>
                        <div class="featured-title-box">
                            <h6>Tasty Hand-Pulled Noodles</h6>
                            <p>Restaurant </p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                           
                            <div class="bottom-icons">
                                <div class="open-now">OPEN NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    
                </div>
            </div>
        
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                   
                        <img src="p (19).jpg" class="img-fluid img" alt="#">
                        <span class="featured-rating-orange">6.5</span>
                        <div class="featured-title-box">
                            <h6>Burger & Lobster</h6>
                            <p>Restaurant </p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                           
                            <div class="bottom-icons">
                                <div class="closed-now">CLOSED NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                   
                        <img src="img (5).jpg" class="img-fluid img" alt="#">
                        <span class="featured-rating-green">9.5</span>
                        <div class="featured-title-box">
                            <h6>Joe’s Shanghai</h6>
                            <p>Restaurant </p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                            
                            <div class="bottom-icons">
                                <div class="closed-now">CLOSED NOW</div>
                                <span class="ti-heart"></span>
                                <span class="ti-bookmark"></span>
                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="col-md-4 featured-responsive">
                <div class="featured-place-wrap">
                   
                        <img src="p (16).jpg" class="img-fluid img" alt="#">
                        <span class="featured-rating">3.2</span>
                        <div class="featured-title-box">
                            <h6>Tasty Hand-Pulled Noodles</h6>
                            <p>Restaurant </p> <span>• </span>
                            <p>3 Reviews</p> <span> • </span>
                            <p><span>$$$</span>$$</p>
                         
                            <div class="bottom-icons form-inline" >
                                    <form  method="post" style="margin-left: 20px; position: absolute; right:12px">
                                        <input type="hidden" name="id" value="<%= %>">
                                        <input type="hidden" name="name" value="<%=  %>">
                                        <input type="hidden" name="pirce" value="<%=  %>">
                                        <input type="hidden" name="pirce" value="<%=  %>">
                                        <input type="hidden" name="redirect" value="/">
                                        <button type="submit" formaction="/details" class="btno"><span class="ti-bookmark"></span></button>
                                        <button type="submit" formaction="/cart" class="btno"> <span class="ti-heart"></span></button>
                                      </form>
                                <div class="open-now">OPEN NOW</div>
                               
                                
                                
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="featured-btn-wrap">
                    <a href="#" class="btn btn-danger">VIEW ALL</a>
                </div>
            </div>
        </div>
    </div>
</section> -->


<% include ./main/footer %>
